{% extends 'base.html.twig' %}

{% block title %}Bonjour {{ utilisateur.Prenom }} !{% endblock %}

{% block body %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    {% if not utilisateur.photoUrl %}
        <img src="{{ asset('https://upload.wikimedia.org/wikipedia/commons/d/d3/User_Circle.png' ) }}" class="imageronde float-right mr-3" alt="../../public/uploads/https://upload.wikimedia.org/wikipedia/commons/d/d3/User_Circle.png">
    {% else %}
        <img src="{{ asset('/uploads/pp/'~utilisateur.photoUrl ) }}"  class="imageronde float-right mr-3" alt="../../public/uploads/{{ utilisateur.photoUrl }}">
    {% endif %}
    <p class="titre-grand">Information sur le rendez-vous</p>
    <div class="container">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10 div-blanche">
                <div class="container">
                    <div class="m-3">
                        {% if supp %}
                            <p>Votre rendez vous a été supprimé</p>
                            {% else %}
                            <p>Votre rendez vous n'a pas été supprimé veuillez réessayer</p>
                        {% endif %}
                        <center>
                            <a href="/accueil">
                                <input class="btn btn-primary" type="button" id="buttonsupp" value="Retour à l'accueil">
                            </a>
                        </center>
                    </div>


                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
    <script src="{{ asset("scripts/rdv.js") }}"></script>

{% endblock %}
