{% extends 'base.html.twig' %}

{% block title %}Bonjour {{ utilisateur.Prenom }} !{% endblock %}

{% block body %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <p class="titre-grand">Information sur le rendez-vous</p>
    <div class="container">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10 div-blanche">
                <div class="container">
                    <div class="m-3">
                        <h3 style="color: #000000">Rendez vous avec Dr. {{ rdv.utilisateur.nom }}</h3>
                        <hr>
                        <h3 style="color: #000000">Rendez vous pris par : {{ rdv.patient.nom }} {{ rdv.patient.prenom }}</h3>
                        <h4 style="color: #000000">Intitulé du rendez-vous : {{ rdv.title }}</h4>
                        <h4 style="color: #000000">Descritpion du rendez-vous : {{ rdv.description }}</h4>
                        <hr>
                        <h4 style="color: #000000">Date du rendez vous : {{ rdv.start | date("d/m/Y") }}, de {{ rdv.start | date("H:i:s") }} à {{ rdv.start | date("H:i:s") }}</h4>
                        <hr>
                        {% if rdv.status == 0 %}
                            <h4 style="color: #000000">Le rendez vous est en cours de traitement.</h4>
                        {% elseif rdv.status == 1 %}
                            <h4 style="color: #000000">Le rendez vous a été refusé.</h4>
                        {% elseif rdv.status == 2 %}
                            <h4 style="color: #000000">Le rendez vous a été validé.</h4>
                        {% endif %}
                        <br>
                        <center>

                        {% if rdv.status ==0 %}

                                <a href="/rdv/removeRdv/{{ rdv.id }}">
                                    <input class="btn btn-primary" type="button" id="buttonsupp" value="Annuler le rendez-vous">
                                </a>
                                <a href="/rdv/acceptRdv/{{ rdv.id }}">
                                    <input class="btn btn-primary" type="button" id="buttonsupp" value="Valider le rendez-vous">
                                </a>
                                <br>

                        {% endif %}
                            <br>
                        <a href="/">
                            <input class="btn btn-primary" type="button" id="buttonsupp" value="Retour à l'accueil">
                        </a>
                        </center>

                    </div>


                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
    <script src="{{ asset("scripts/rdv.js") }}"></script>

{% endblock %}
