<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="" crossorigin="anonymous">
    <link rel="stylesheet" href="https://nathanlemaitre.fr/css/patientos/styles/style.css">
    <script src="{{ asset("https://kit.fontawesome.com/8f0edd7503.js") }}" crossorigin="anonymous"></script>
</head>
<body>
<style type="text/css">
    body{
        background-image: url({{ asset("amblance.png")}});
        background-repeat: no-repeat;
    }
    h1{
        color:white;
    }
</style>

<h1>Une erreur est survenue !</h1><a href="/">Clique ici pour revenir à l'accueil</a>




</body>
<script src="{{ asset("https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js") }}"></script>
<script src="https://nathanlemaitre.fr/css/patientos/scripts/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="{{ asset("https://use.fontawesome.com/9172efae86.js") }}"></script>
<script src="{{ asset("scripts/script.js") }}"></script>
</html>
